.plant_card_parent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;

    
    
    overflow-x: scroll;
    max-width: 70cap;
    min-width: 900px;
    height: 40cap;
}
.plant_card_content_heading{
    display: flex;
    flex-direction: row;
    color: black;
    gap: 4px;
    margin: 0.5cap;
}


.plant_card{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 16px;
    margin-bottom: 16px;
    min-width: 585px;
}
.Card_ScrollButton{
    display: flex;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

}

.Card_ScrollButton:hover{
    display: flex;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

}

.Card_ScrollIcon{
    min-width: 48px;
    min-height: 48px;
}
.card_overparent_2{
    display: flex; 
}
.allergy_icon{
    max-width: 16px;
    max-height: 16px;
}
.card_overparent_1{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0.5cap;
    font-weight: 500;
    color: black;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 0.5rem;
}

.plant_card_content{
    display: flex;
    flex-direction: row;
    color: #71717a;
    gap: 4px;
    margin: 0.5cap;
}

.plant_card_image{
    display: flex;
    gap: 8px;
}

.plant_card_image_wrapper {
    position: relative;
    width: 100%;
    height: 200px; 
    overflow: hidden;
  }
  
  .plant_card_image {
    object-fit: cover; /* Optional but recommended */
  }
  

